[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# django
Django = "~=3.0"                           # django
# Testing
model-bakery = "==1.0.2"                   # Test template for objects
# REST API
djangorestframework = "==3.11.0"           # django REST API
djangorestframework-camel-case = "==1.1.2" # CamelCase JSON rendering for API
django-cors-headers = ">=3.2.1"

# Deploy
gunicorn = "==20.1.0"                      # Webserver
# Local installation of django-ai-kit-auth
django-ai-kit-auth = {editable = true,path = "./../../../django-app"}

[dev-packages]
flake8 = "==3.7.9"                         # Linting
pep8-naming = "==0.9.1"                    # PEP8 conform name linting

[requires]
python_version = "3.7"
