[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# django
Django = "*"                           # django
# Testing
model-bakery = "*"                   # Test template for objects
# REST API
djangorestframework = "*"           # django REST API
djangorestframework-camel-case = "*" # CamelCase JSON rendering for API
django-cors-headers = "*"

# Deploy
gunicorn = "*"                      # Webserver
# Local installation of django-ai-kit-auth
django-ai-kit-auth = {editable = true,path = "./../../../django-app"}

[dev-packages]
flake8 = "*"                         # Linting
pep8-naming = "*"                    # PEP8 conform name linting

[requires]
python_version = "*"
