{% extends "ai_kit_auth/body_base.html" %}


{% block title %}Aktivierung des Accounts{% endblock %}


{% block content %}
    <p>Guten Tag {{ user.username }},</p>
    <p>Sie sind nur noch einen Klick davon entfernt, Ihren Account zu benutzen.</p>

    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
            <tr>
                <td align="left">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="{{ url }}" target="_blank">KONTO AKTIVIEREN</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
