[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
Django = ">=3.0.0"
djangorestframework = "*"

[dev-packages]
commit_parser = {path = "./../python_commit_parser"}
python-semantic-release = "==7.13.2"
model_bakery = "*"

[requires]
python_version = "3.7"
