[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
Django = ">=3.0.0"
djangorestframework = "*"
djangorestframework-jwt = "*"

[dev-packages]
django-ai-kit-commit-parser = {path = "./../python_commit_parser"}
python-semantic-release = ">=4.6.0"
model_bakery = "*"

[requires]
python_version = "3.7"
